<app-nav-bar></app-nav-bar>
<div class="container">
  <h1>Request a Leave</h1>
  <div class="d-flex flex-column">
    <select class="form-control" name="leave-type" id="">
      <option value="full-day">Full Day</option>
      <option value="partial-day">Partial Day</option>
    </select>
    <input type="date" name="" id="" />
    <textarea
      name=""
      id=""
      cols="30"
      placeholder="Leave Reason"
      class="form-control"
      rows="10"
    ></textarea>
    <div class="d-flex gap-2">
      <button class="button button-primary">Submit</button>
      <button class="button button-danger">Cancel</button>
    </div>
  </div>
</div>
